@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Barlow-400';
  src: url('../fonts/Barlow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow-500';
  src: url('../fonts/Barlow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow-600';
  src: url('../fonts/Barlow-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow-700';
  src: url('../fonts/Barlow-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow-800';
  src: url('../fonts/Barlow-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow-900';
  src: url('../fonts/Barlow-Black.ttf') format('truetype');
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scrollbar-width: none;
}

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  align-items: center;
  gap: 10px;
  animation: scroll 5s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  width: 200px;
}


@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}


#contact{
  background-image: url("../../public/bg/bg-singUp.png");
}